<html>
<head>
<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
 <style>
 .pid {
            background-image: url("../Images/LOG.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
        }
    </style>
     <body class="pid">
         <center><!--span style="margin-top:5in;margin-left:100in;"--><button type="button" class="btn btn-lg glyphicon glyphicon-user" onclick="window.location='Register.html'">Customer</button>
        <button type="button" class="btn btn-lg glyphicon glyphicon-wrench" onclick="window.location='admin.html'">Admin</button>
        <button type="button" class="btn btn-lg glyphicon glyphicon-send" onclick="window.location='logistics.html'">Logistics</button></span></center> 
       </body> 
     

</html>
