<!DOCTYPE html>
<html>
<title>Register</title>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="../Controller/Registercontroller.js"></script>
    <link rel="stylesheet" href="../Css/Registerstyle.css">
</head>

<body class="bg">

    <div ng-app="myApp" ng-controller="myctrl">
		
        <div ng-show="start">

            <form>
                <div class="formBody col-md-6 ">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            <b>Customer name:</b>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Enter your name" ng-model="Customer_name" required autofocus>
                        </div>
                     </div>

                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            <b>Password:</b>
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Enter your password" ng-model="Password_pass" required autofocus>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="col-md-6 form-group">
                            <b>Address:</b>
                        </div>
                        <div class="col-md-6">
                            <input type="textarea" class="form-control" placeholder="Enter your Address" ng-model="Address_add" required autofocus>
                        </div>
                    </div>
                    
                    <div class="col-md-12">

                        <div class="col-md-6 form-group">
                            <b> Contact Number:</b>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="Enter your mobile number" ng-model="contact_num" required autofocus>
                        </div>

                    </div>
                    <div class="col-md-12">
                       
                        <div class="col-md-6 form-group">
                            <b> Email-ID:</b>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Enter your Email ID" ng-model="email_id" required autofocus>
                        </div>


                    </div>
                    <center>
                        <button class="btn button1" ng-click="Register_reg()">
                            <b>Register</b>
                        </button>
                        <button class="btn button2" ng-click="Login_start()">
                            <b>Login</b>
                        </button>
                    </center>

                </div>
            </form>
        </div>
        <div ng-hide="start">
            <form>
                <div class="formBody col-md-6 ">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            <b>Username</b>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Enter your username" ng-model="Username_log" required autofocus>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            <b>Password</b>
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Enter your password" ng-model="password_log" required autofocus>
                        </div>
                    </div>
                    <center>
                        <button class="btn button1" ng-click="Login_start()" class="btn btn-default">
                            <b>Login</b>
                        </button>
                    </center>
                </div>
            </form>
        </div>
    </div>
    <script>

    </script>
</body>

</html>
